root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{md,py,yaml,yml,csv}]
charset = utf-8

[*.{jpg,jpeg,png,pdf,pt,docx}]
trim_trailing_whitespace = false
insert_final_newline = false
